<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025428406944-3aefpsn3hrr07i52r0qc4pbcpq1kugd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025428406944-3aefpsn3hrr07i52r0qc4pbcpq1kugd3</string>
	<key>API_KEY</key>
	<string>AIzaSyB0z78oD02iJRwhiDI69Xcd0T7zrFXeuBE</string>
	<key>GCM_SENDER_ID</key>
	<string>1025428406944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>blinder.com.app</string>
	<key>PROJECT_ID</key>
	<string>gdsc-sol-t3</string>
	<key>STORAGE_BUCKET</key>
	<string>gdsc-sol-t3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025428406944:ios:cc7b9c83f3610c46173fc5</string>
</dict>
</plist>